nbgitpuller
jupyterlab-git
requests
ipython-sql
folium  
# git+https://github.com/mike-matera/jupyter_turtle.git
# git+https://github.com/mike-matera/nb_introspect.git
-e jupyter_turtle
-e nb_introspect
-e Packages
