<html>
    <head>
        <title>Web Mad Lib!</title>
    </head>
    <body>
        <div style="margin:1em;">
        <form method="post">
            
          Enter a noun:<br>
          <input type="text" name="noun" value="{{noun}}"><br>

          <br>Enter a verb:<br>
          <input type="text" name="verb" value="{{verb}}"><br>

          <br>Enter an adjective:<br>
          <input type="text" name="adjective" value="{{adjective}}"><br>

          <br><input type="submit" value="Submit">
        </form>
        </div>
    
        <div style="margin:2em">        
            {{madlib}}
        </div>
    </body>
</html>
