<html>
    <head>
        <title>Enter the Words</title>
    </head>
    <body>
        <form action="/result" method="post">
            
          Enter a {{word_type_1}}:<br>
          <input type="text" name="word_1"><br>

          Enter a {{word_type_2}}:<br>
          <input type="text" name="word_2"><br>

          Enter a {{word_type_3}}:<br>
          <input type="text" name="word_3"><br>

          <input type="hidden" name="madlib" value="{{madlib}}">
          
          <input type="submit" value="Submit">
        </form>
    </body>
</html>
