<style>
.grid-container {
  display: grid;
  grid-template-columns: 7em auto;
  grid-gap: 10px;
}

.grid-item-icon {
	text-align: center;
	margin-top: 1em;
}

.grid-item {
	text-align: left;
	margin-top: 1em;
}

.grid-item-label {
	text-align: right;
	font-weight: bold;
}

.grid-item-result {
	text-align: left;
	padding-left: 1em;
	border-left: solid gray 1px;
}

.grid-item-result pre {
    font-size: 100%;	
}

</style>

<div class="grid-container">

{%- for r in result.results  %}
<div class="grid-item-icon">
	<div class="alert alert-{{r.style}}">
		<strong>{{r.label}}</strong>
	  </div>
</div>
<div class="grid-item">
	<b>{{ r.test_name }}</b><br>
	<i>{{ r.test_descr }}</i>
</div>
{% if r.message %}
	{% if r.trace %}
		<div class="grid-item-label">Call</div>
		<div class="grid-item-result">
			<pre>{{ format_trace(r.trace[-1]) }}</pre>
		</div>
	{% endif %}
	<div class="grid-item-label">Reason</div>
	<div class="grid-item-result">
		<pre>{{ r.message }}</pre>
	</div>
{% endif %}
{% if r.stdout or r.stderr %}
	<div class="grid-item-label">
		Output
		<span id="label_output_{{ r.test_name }}" onclick="showHideContent('output_{{ r.test_name }}')" style="cursor: pointer;">&#9658;</span>
	 </div>
	<div class="grid-item-result">
		<div id="content_output_{{ r.test_name }}" style="display: none;">
			<pre>{{ r.stdout }}</pre>
			<pre style="color: red;">{{ r.stderr }}</pre>
		</div>
	</div>	
{% endif %}
{% if r.long_message %}
	<div class="grid-item-label">
		Traceback
		<span id="label_message_{{ r.test_name }}" onclick="showHideContent('message_{{ r.test_name }}')" style="cursor: pointer;">&#9658;</span>
	 </div>
	<div class="grid-item-result">
		<div id="content_message_{{ r.test_name }}" style="display: none;">
			<pre>{{ r.long_message }}</pre>
		</div>
	</div>
{% endif %}
{% endfor %}

<script>
	function showHideContent(item) {
		var x = document.getElementById("content_" + item);
		var y = document.getElementById("label_" + item);
		if (x.style.display === "none") {
			x.style.display = "block";
			y.innerHTML = "&#9660;"
		} else {
			x.style.display = "none";
			y.innerHTML = "&#9658;"
		}
	}
</script>
</div>
