<!DOCTYPE html>
<html>
  <head>
    <title>My Web Calculator</title>
  </head>

  <body>
    <h1>My Web Calculator</h1>
    <div>
        <p>Please enter your numbers:</p>
        <form method='POST'>
            a: <input type="input" name="a" value="{{a}}"></input>
            b: <input type="input" name="b" value="{{b}}"></input>
            <input type="submit"></input>
    </form>
    </div>
    {% if error is not none %} 
        <div style="padding: 1em; color:red;">
        {{ error }}
        </div>
    {% else %}
        {% if method == 'POST' %}
            <div style='padding: 1em;'>
                 {{ table | safe }} 
            </div>
        {% endif %}
    {% endif %}
  </body>
</html>